.app-container {
  display: flex;
  
}
.content {
  width: 100%;
}

.sidebar {
  height: 600px;
}

.createpost {
  margin: 20px;
}

.post-card {
  margin: 10px;
  padding: 20px;
  width: 30rem;
}

.hashtag {
  /* display: flex; */
  gap: 5px;
}

.reaction {
  /* position: relative;
   */
  float: right;
}